@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    background-color: #EEEEEE;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

header {
    margin: 75px 0 0 40px;
    border-bottom: 1px solid black;
    width: 95%;
    background-color: #fad2df;
}

nav {
    margin-top: -15px;
}

.search {
    position: relative;
    top: 18px;
}

.search:hover {
    cursor: pointer;
}

input[type=search] {
    width: 200px;
    height: 25px;
    border-radius: 0.5em;
    border: 0;
}

input[type=search]:focus, input[type=search]:hover {
    box-shadow: 0 0 0 2px rgb(218, 81, 127);
    outline: none;
}

ul {
    padding-left: 20px;
}

li {
    list-style-type: none;
}

.content::after {
    padding-left: 10px;
    content: ">";
}

main {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    width: 95%;
    margin-left: 40px;
    background-color: #fffafa;
}

.dossier {
    position: relative;
    top: -8px;
    padding-right: 10px;
}

.nameDossiers {
    position: relative;
    top: -15px;
}

.arbre {
    background-color: white;
}

.donnee {
    background-color: white;
    padding-top: 20px;
}

.name {
    color: rgba(99, 116, 105, 0.616);
}

.result {
    display: grid;
    grid-template-columns: 1.8fr 0.8fr 0.5fr;
    grid-auto-rows: minmax(50px, auto);
    padding: 0;
    border-bottom: 1px solid black;
}

.Nom {
    padding-left: 50px;
    padding-right: 10px;
    position: relative;
    top: -25px;
}

.haut {
    position: relative;
    top: 13px;
}

.haut:hover {
    cursor: pointer;
}

.right {
    text-align: right;
}

.Taille {
    position: relative;
    right: 40px;
}

.gauche {
    position: relative;
    top: 5px;
}

.dossierActuelle {
    padding-left: 12px;
    color: black;
}

.extension {
    position: relative;
    top: 10px;
    padding-left: 13px;
    padding-right: 18px;
}

.inline {
    display: inline-block;
}

.top {
    position: relative;
    top: 15px;
}

.filename {
    position: relative;
    top: 5px;
}